.song-display {
  display: flex;
  gap: 1em;
  background-color: var(--color-content-background);
  padding: 8px;
  border: 2px solid var(--color-border);
  border-radius: 10px;
  font-family: "Pirata One", "UnifrakturCook", system-ui, "celticBit";
  text-align: left;
  justify-content: space-between;
  overflow: hidden;
}

.backgroundAnimatedIncorrect {
  -o-animation: fadeIncorrect 5s ease-in-out;
  animation: fadeIncorrect 5s ease-in-out;
}

@-o-keyframes fadeIncorrect {
  0% {
    background-color: #e59595;
  }
  100% {
    background-color: var(--color-content-background);
  }
}
@keyframes fadeIncorrect {
  0% {
    background-color: #e59595;
  }
  100% {
    background-color: var(--color-content-background);
  }
}

.backgroundAnimatedCorrect {
  -o-animation: fadeCorrect 5s ease-in-out;
  animation: fadeCorrect 5s ease-in-out;
}

@-o-keyframes fadeCorrect {
  0% {
    background-color: #b0efb0;
  }
  100% {
    background-color: var(--color-content-background);
  }
}
@keyframes fadeCorrect {
  0% {
    background-color: #b0efb0;
  }
  100% {
    background-color: var(--color-content-background);
  }
}

.hidden {
  background-color: black;
  line-height: 160px;
  border: 2px solid var(--color-border);
  border-radius: 10px;
  color: white;
  font-family: "Pirata One", "UnifrakturCook", system-ui, "celticBit";
  font-size: 48px;
}

.song-album-cover {
  grid-area: album;
  border-radius: 5px;
  object-fit: contain;
  width: 140px;
}

.song-information {
  display: grid;
  grid-template-areas:
    "name"
    "year"
    "album-info";
  grid-template-rows: 40px 60px 40px;
  grid-template-columns: auto;
  text-align: center;
  justify-content: center;
  width: 200px;
}

.song-name {
  grid-area: name;
  font-size: 12px;
  color: var(--color-text-subtitle);
  margin: 0px;
}

.song-artist {
  grid-area: artist;
  font-size: 14px;
  color: var(--color-text);
  margin: 0px;
}

.song-album {
  grid-area: album;
  font-size: 12px;
  font-style: italic;
  color: var(--color-text-subtitle);
  margin: 0px;
}

.song-year {
  grid-area: year;
  font-size: 48px;
  color: var(--color-text);
  margin: 0px;
}

.song-album-info {
  grid-area: album-info;
  align-self: end;
}

.incorrect-guess {
  background-color: #d4d4d4;
}

/* Incorrect guess  */

.incorrect-guess .song-name {
  color: #6b6b6b;
}

.incorrect-guess .song-artist {
  color: #383838;
}

.incorrect-guess .song-album {
  color: #6b6b6b;
}

.incorrect-guess .song-year {
  color: #383838;
}
