.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  animation: scroll-left 20s linear infinite;
  padding: 8px 0;
  font-weight: bold;
  font-size: 18px;
  color: var(--color-text-warning);
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
